@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.navMainContainer{
    width: 100vw;
    height: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_upper_wrapper_box{
    width: 1600px;
}

.mainNavBar{
    width: 100%;
    max-width: 1170;
    /* background:linear-gradient(#AF82FF1A,#1877F21A); */
    background-color: rgba(175, 99, 99, 0.596);
    border-radius: 12px;
    padding: 30px 50px 30px 50px;
}

.left_Logo_Section{
    width: 148.07px;
    height: 50px;
}

.right_Nav_Item_Section{
    width: 761px;
    height: 54px;
}

.nav_links{
    width: 496px;
    background-color: red;
}

.nav_link_list{
    width: 496px;
}

.nav_link_list li a{
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #282828;
    font-weight: 400;
}

.button_CTA{
    width: 185px;
    height:54px;
}