@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --temp-bg-color-1: red;
    --temp-bg-color-2: gray;
}

.nav-section-container {
    border-radius: 12px;
    background: linear-gradient(#AF82FF1A, #1877F21A);
}

.nav-links {
    font-family: "Outfit", system-ui;
    font-size: 18px;
    color: #282828;
}

.active {
    font-weight: bold;
    list-style-type: disc;
    color: #1877F2;
}

.btn-name:last-child {
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}